{{> head}}
{{> navbar}}

   <div class="container">
      <div class="row">
         <div class="col-4">
            <h2>El mazo 2.9 Ballesta</h2>
         </div>
         <div class="col-8">
            <img src="assets/mazo2_9.jpg" alt="" width="50%" class="img-thumbnail m-auto">
         </div>
      </div>
   </div>


{{> footer}}